@{
    ViewBag.Title = "Home";
}

<h1>Welcome to MindTrack</h1>

<p>MindTrack helps you keep track of your patient's information with ease.</p>

<ul>
    <li>Keep all your patient data in the same place</li>
    <li>Manage your appointments</li>
    <li>Add new notes after each session</li>
    <li></li>
</ul>



<h3>To do list:</h3>
<p>Add a calendar partial view with appointments for the week</p>
<p>Add a navi with images linking to the different pages</p>