
@using PatientManagementApp.Web.ViewModels.PatientViewModels
@using static PatientManagementApp.Common.ModelValidationConstraints.Global
@model CreatePatientViewModel

@{
    ViewBag.Title = "Add New Patient";
}

<h2 class="text-center">@ViewBag.Title</h2>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Gender">Gender</label>
        <select asp-for="Gender" asp-items="Model.GenderOptions" class="form-control"></select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber">Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="DateOfBirth">Date Of Birth</label>
        <input asp-for="DateOfBirth"  class="form-control" value="@DateTime.UtcNow.ToString(DateFormatString)"/>
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Age">Age</label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <br />
    <p><strong>Current Treatment Information</strong> </p>
    <div>
        <label asp-for="TreatmentStartDate">Treatment Start Date</label>
        <input asp-for="TreatmentStartDate" class="form-control" value="@DateTime.UtcNow.ToString(DateFormatString)" />
        <span asp-validation-for="TreatmentStartDate" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="TreatmentEndDate">Treatment End Date</label>
        <input asp-for="TreatmentEndDate" class="form-control" value="@DateTime.UtcNow.ToString(DateFormatString)" />
        <span asp-validation-for="TreatmentEndDate" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ImportantInfo">Important Information About Patient</label>
        <textarea asp-for="ImportantInfo" class="form-control"></textarea>
        <span asp-validation-for="ImportantInfo" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Diagnosis">Diagnosis</label>
        <input asp-for="Diagnosis" class="form-control" />
        <span asp-validation-for="Diagnosis" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ReasonForVisit">Initial Reason for Visit</label>
        <input asp-for="ReasonForVisit" class="form-control" />
        <span asp-validation-for="ReasonForVisit" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ReferredBy">Referred by</label>
        <input asp-for="ReferredBy" class="form-control" />
        <span asp-validation-for="ReferredBy" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Status">Status</label>
        <select asp-for="Status" asp-items="Model.PatientStatusOptions" class="form-control"></select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <br/>
    <p><strong>Emergency contact information</strong> </p>
    <div>
        <label asp-for="EmergencyContactName">Emergency Contact Name</label>
        <input asp-for="EmergencyContactName" class="form-control" />
        <span asp-validation-for="EmergencyContactName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="EmergencyContactPhone">Phone Number</label>
        <input asp-for="EmergencyContactPhone" class="form-control" />
        <span asp-validation-for="EmergencyContactPhone" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="EmergencyContactRelationship">Relationship</label>
        <input asp-for="EmergencyContactRelationship" class="form-control" />
        <span asp-validation-for="EmergencyContactRelationship" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Add New Patient</button>
</form>
<br/>
<a asp-action="Index">Back to My Patients List</a>

